.container {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.header {
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid white;
}

.header h1 {
  color: rgb(224, 122, 152);
  font-family: Georgia, serif;
  font-size: 48px;
  margin: 0;
}

.p2 {
  color: white;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 30px;
  margin: 0;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  
}

.nav li {
  display: inline;
  margin: 0 100px;

}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px ;
}

.nav b {
  color: grey;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px ;
}

.img {
  display: block;
  margin: 20px auto;
  max-width: 90%;
  height: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.section {
  flex: 2;
  margin-right: 20px;
}

.aside {
  flex: 1;
}

.footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.contact {
  margin-top: 20px;
  font-size: 16px;
}

.p4 {
    text-align: center;
}

button[matButton]{
  background-color: rgb(224, 122, 152);
  color: black;
  font-weight: 500;
  border-radius: 10px;
  text-transform: none;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  font-size: large;
  font-family: Georgia, serif;
}

button[matButton]:hover {
  background-color: rgb(206, 86, 122);
}