<div class="container"> 
  <header class="header">
    <h1 class="header">Kirschblüte</h1>
    <nav>
      <ul class="nav ul">
        <a [routerLink] = "['/menu']" >Speisekarte</a>
        <b [routerLink] = "['/reservation']" >Reservieren</b>
        <a [routerLink] = "['/hours']"> Öffnungzeiten</a>
        <a [routerLink] = "['/arrival']"> Ankunft</a>
      </ul>
    </nav>
  </header>

  <br>

  <p class = "p2"><u>Sichern Sie sich jetzt Ihren Platz bei uns - ganz einfach und bequem online.</u></p>
  <br>
  <p class="p4">Reservieren Sie Ihren Tisch mit nur wenigen Klicks und <br>freuen Sie sich auf ein genussvolles Erlebnis in unserem Restaurant.</p>
  <br>

  <button matButton="filled" [routerLink] ="['/reservation-form']"> Jetzt Reservieren </button>

<br>

  <footer class="footer">
    <h3 class=" header h1"> </h3>
    <div class="contact">
      <p><strong>Kontakt:</strong></p>
      <p>Email: info&#64;kirschbluete.de</p>
      <p>Telefon: +49 176 87246120</p>
      <p>Adresse: Kirschblütenweg 22, 90421 Nürnberg </p>
      <br>
    </div>
    <p>&copy; 2024 KirschblüteGmbH</p>
  </footer>
</div>
