<div class="container"> 
  <header class="header">
    <h1 class="header">Kirschblüte</h1>
    <nav>
      <ul class="nav ul">
        <a [routerLink] = "['/menu']" >Speisekarte</a>
        <a [routerLink] = "['/reservation']" >Reservieren</a>
        <b [routerLink] = "['/hours']"> Öffnungzeiten</b>
        <a [routerLink] = "['/arrival']"> Ankunft</a>

      </ul>
    </nav>
  </header>

  <br>

  <p class="p2"> <u>Öffnungszeiten</u> <p>

  <br>

  <main>
    <section class="section">
      <p><b>Montag - Freitag</b></p>
      <p>14:00 Uhr - 22:30 Uhr </p>
      <br>
      <p> <b>Samstag</b> </p>
      <p>12:00 Uhr - 23:00 Uhr</p>
      <br>
      <p><b>Sonntag</b> </p>
      <p>12:00 Uhr - 20:00 Uhr </p>
      <br>
      <p class="p3"><b>Dienstag Ruhetag</b></p>
    </section>
  </main>

  <footer class="footer">
    <h3 class=" header h1"> </h3>
    <div class="contact">
      <p><strong>Kontakt:</strong></p>
      <p>Email: info&#64;kirschbluete.de</p>
      <p>Telefon: +49 176 87246120</p>
      <p>Adresse: Kirschblütenweg 22, 90421 Nürnberg </p>
      <br>
    </div>
    <p>&copy; 2024 KirschblüteGmbH</p>
  </footer>
</div>
