<div class="container"> 

  <header class="header">
    <h1 class="header">Kirschblüte</h1>
    <nav>
      <ul class="nav ul">
        <b [routerLink] = "['/menu']" >Speisekarte</b>
        <a [routerLink] = "['/reservation']" >Reservieren</a>
        <a [routerLink] = "['/hours']"> Öffnungzeiten</a>
        <a [routerLink] = "['/arrival']"> Ankunft</a>

      </ul>
    </nav>
  </header>

  <br>

  <p class="p2"> <u>Speisekarte</u> <p>

  <img class="img" src="ChatGPT.png" alt="Menü" width="1152" height="768">

  <footer class="footer">
    <h3 class=" header h1"> </h3>
    <div class="contact">
      <p><strong>Kontakt:</strong></p>
      <p>Email: info&#64;kirschbluete.de</p>
      <p>Telefon: +49 176 87246120</p>
      <p>Adresse: Kirschblütenweg 22, 90421 Nürnberg </p>
      <br>
    </div>
    <p>&copy; 2024 KirschblüteGmbH</p>
  </footer>

</div>