<div class="icon-bar">
  <a class="icon-link" [routerLink]="['/']" title="Zur Startseite">
    <span class="material-icons">home</span>
  </a>
  <a class="icon-link" [routerLink]="['/login']" title="Login">
    <span class="material-icons">person</span>
  </a>
</div>

<div class="container"> 

  <header class="header">
    <h1 class="header">Kirschblüte</h1>

     
    <nav>
      <ul class="nav ul">
        <b [routerLink] = "['/menu']" >Speisekarte</b>
        <a [routerLink] = "['/reservation']" >Reservieren</a>
        <a [routerLink] = "['/hours']"> Öffnungzeiten</a>
        <a [routerLink] = "['/arrival']"> Ankunft</a>

      </ul>
    </nav>
  </header>

  <br>

  <p class="p2"> Herzlich Willkommen in unserem Restaurant in Nürnberg! Erleben Sie hier eine besondere kulinarische Reise in die japanische Küche oder genießen Sie koreanisches BBQ, bei dem Sie Ihre Speisen selbst am Gas-Grill direkt am Tisch zubereiten.
     Genießen Sie bei uns ein einzigartiges <strong>All-You-Can-Eat</strong>-Konzept mit frischen, hausgemachten Spezialitäten aus Japan, China und Thailand.
  <br><br>
  Unser stilvoll eingerichtetes Ambiente lädt zum Verweilen ein – perfekt für romantische Abende, Familienessen oder Geschäftsessen. <br>
  Ob Sushi, Teppanyaki, Dim Sum oder vegane Köstlichkeiten – bei uns ist für jeden Geschmack etwas dabei.
  <br><br>
  Reservieren Sie noch heute Ihren Tisch und lassen Sie sich kulinarisch verwöhnen!
  </p>

  <br>

  <p class="p2"> <u>Speisekarte</u> <p>

  <img class="img" src="ChatGPT.png" alt="Menü" width="1152" height="768">

  <img class="img" src="Getraenkekarte.png" alt="Menü" width="1152" height="768">

  <footer class="footer">
    <h3 class=" header h1"> </h3>
    <div class="contact">
      <p><strong>Kontakt:</strong></p>
      <p>Email: info&#64;kirschbluete.de</p>
      <p>Telefon: +49 176 87246120</p>
      <p>Adresse: Kirschblütenweg 22, 90421 Nürnberg </p>
      <br>
    </div>
    <p>&copy; 2024 KirschblüteGmbH</p>
  </footer>

</div>